@model FinanceManagement.Models.Product


<form method="post" asp-action="ConfirmProductDelete" asp-controller="Product" enctype="multipart/form-data">
    
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a asp-action="ProductIndex" asp-controller="Product">Products</a></li>
                                    <li class="breadcrumb-item active">Delete Product</li>
                                    
                                </ol>
                            </div>
                            <h4 class="page-title">Delete Product</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-xl-6">

                                        <div class="mb-3 position-relative" id="datepicker1">
                                            <label class="form-label">Date</label>
                                            <input asp-for="@Model.Date" type="date" class="form-control" data-provide="datepicker" data-date-container="#datepicker1" data-date-format="d-M-yyyy" data-date-autoclose="true">
                                        </div>

                                        <div class="mb-3">
                                            <label for="projectname" class="form-label">Product Name</label>
                                            <input asp-for="@Model.ProductName" type="text" id="projectname" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="projectname" class="form-label">Product SKU</label>
                                            <input asp-for="@Model.Id" type="text" id="projectname" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="projectname" class="form-label">Price</label>
                                            <input asp-for="@Model.Price" type="text" id="projectname" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="projectname" class="form-label">Quantity</label>
                                            <input asp-for="@Model.Quantity" type="number" id="projectname" class="form-control">
                                        </div>

                                        

                                        <div class="btn-group mb-2 ms-2">
                                            <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                                        &nbsp;
                                        &nbsp;
                                        <a asp-action="ProductIndex" asp-controller="Product" class="btn btn-outline-secondary">Back To List</a>
                                        </div>


                                        <!-- Date View -->






                                    </div> <!-- end col-->



                                </div>
                                <!-- end row -->

                            </div> <!-- end card-body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->

            </div> <!-- container -->

        </div> <!-- content -->
    
</form>
